@import "https://fonts.googleapis.com/css?family=Exo+2&display=swap";
@import "https://kujitegemea.github.io/language-colors/language-colors.css";
:root {
  --radius: 0.375rem;
  --base: #aaa;
  --positive: #008000;
  --negative: #a10000;
  &[data-theme="github"] {
    --base: #7d8590;
    --background: #0d1117;
    --base-dimmed: #30363d;
    --accent: #2f81f7;
  }
  &[data-theme="beige"] {
    --background: #191919;
    --base-dimmed: #2c2c2c;
    --accent: #b9b384;
  }
  &[data-theme="blue"] {
    --background: #1d1d24;
    --base-dimmed: #31313b;
    --accent: #77babc;
  }
  &[data-theme="green"] {
    --background: #19191a;
    --base-dimmed: #2f2f31;
    --accent: #63b97f;
  }
  &[data-theme="red"] {
    --background: #262a2e;
    --base-dimmed: #33393e;
    --accent: #ff7b5d;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--base-dimmed) var(--background);
}
*::selection {
  color: var(--background);
  background: var(--accent);
}
html,
body {
  margin: 0;
  font-family: "Exo 2", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-variant-numeric: tabular-nums;
  color: var(--base);
  background-color: var(--background);
  scrollbar-gutter: stable;
  *.disable-scroll {
    overflow-y: hidden;
  }
}
#app {
  display: grid;
  gap: 1.5rem;
  margin: 1rem 0;
}
input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}
legend,
summary {
  user-select: none;
}
summary {
  cursor: pointer;
}
fieldset {
  padding: 1rem;
  margin: 0;
  border: 1px solid var(--base-dimmed);
  border-radius: var(--radius);
  &:has(input, textarea):hover,
  &:has(input, textarea):focus-within {
    color: var(--base);
    border-color: var(--base);
  }
}
ul,
ol {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
mark {
  background-color: var(--accent);
}
svg {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  stroke-width: 2;
}
a {
  color: var(--base);
  text-decoration: none;
  outline: none;
  &:has(svg) {
    display: flex;
    gap: 0.125rem;
    align-items: center;
    min-width: 0;
  }
  &:hover,
  &:focus-visible {
    color: var(--accent);
  }
  svg {
    color: var(--accent);
  }
}
button {
  display: inline-flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: inherit;
  white-space: nowrap;
  cursor: pointer;
  background: none;
  border: 1px solid var(--base);
  border-radius: var(--radius);
  outline: none;
  transition: transform .3s;
  &:hover,
  &:focus-visible {
    color: var(--accent);
    border-color: var(--accent);
  }
  &:disabled {
    pointer-events: none;
    opacity: .5;
  }
  &:active {
    transform: scale(.95);
  }
  &.icon {
    padding: 0;
    border: none;
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
input {
  width: 100%;
  padding: .5rem;
  color: inherit;
  caret-color: var(--base);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--base-dimmed);
  outline: none;
  &::placeholder {
    color: inherit;
    opacity: .6;
  }
  &:focus-visible {
    border-color: var(--base);
  }
  &:disabled {
    pointer-events: none;
    opacity: .5;
  }
}
textarea {
  min-height: 6.25rem;
  padding: .5rem;
  color: inherit;
  caret-color: var(--base);
  resize: vertical;
  background: transparent;
  border: 1px solid var(--base-dimmed);
  border-radius: var(--radius);
  outline: none;
  &::placeholder {
    color: inherit;
    opacity: .6;
  }
  &:focus-visible {
    border-color: var(--base);
  }
}
label:has([type="checkbox"]) {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  input {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
    appearance: none;
    border: 1px solid var(--base-dimmed);
    &:hover,
    &:focus-visible {
      border-color: var(--base);
    }
    &:checked::before {
      position: absolute;
      top: 0.125rem;
      left: 0.125rem;
      width: 0.875rem;
      height: 0.875rem;
      content: "";
      background-color: var(--accent);
    }
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-15%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
dialog {
  position: fixed;
  top: 15vh;
  width: 100%;
  max-width: 25rem;
  max-height: 80dvh;
  padding: 0;
  margin: 0 auto;
  color: var(--base);
  background-color: var(--background);
  border: 1px solid var(--base-dimmed);
  border-radius: 0.25rem;
  &::backdrop {
    background-color: rgba(0 0 0 / 35%)
  }
  &[open] {
    animation: fade-in .3s ease;
  }
  &.invalid {
    border-color: var(--negative);
  }
  > * {
    padding: 1.5rem;
  }
  > header {
    display: flex;
    align-items: baseline;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--base-dimmed);
    button[name="close"] {
      margin-left: auto;
    }
  }
  @media (width <= 600px) {
    top: 0;
    max-width: 100dvw;
    max-height: 100dvh;
  }
}
.container {
  margin-right: 3rem;
  margin-left: 3rem;
  @media (width <= 600px) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.icon-button {
  padding: 0;
  cursor: pointer;
  border: 0;
  &--negative {
    color: var(--negative);
    &:hover,
    &:focus-visible {
      color: #f00;
    }
  }
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
