.language-1c-enterprise { background-color: #814ccc; }
.language-2-dimensional-array { background-color: #38761d; }
.language-4d { background-color: #004289; }
.language-abap { background-color: #e8274b; }
.language-abap-cds { background-color: #555e25; }
.language-actionscript { background-color: #882b0f; }
.language-ada { background-color: #02f88c; }
.language-adblock-filter-list { background-color: #800000; }
.language-adobe-font-metrics { background-color: #fa0f00; }
.language-agda { background-color: #315665; }
.language-ags-script { background-color: #b9d9ff; }
.language-aidl { background-color: #34eb6b; }
.language-aiken { background-color: #640ff8; }
.language-al { background-color: #3aa2b5; }
.language-algol { background-color: #d1e0db; }
.language-alloy { background-color: #64c800; }
.language-alpine-abuild { background-color: #0d597f; }
.language-altium-designer { background-color: #a89663; }
.language-ampl { background-color: #e6efbb; }
.language-angelscript { background-color: #c7d7dc; }
.language-answer-set-programming { background-color: #a9cc29; }
.language-ant-build-system { background-color: #a9157e; }
.language-antlers { background-color: #ff269e; }
.language-antlr { background-color: #9dc3ff; }
.language-apacheconf { background-color: #d12127; }
.language-apex { background-color: #1797c0; }
.language-api-blueprint { background-color: #2acca8; }
.language-apl { background-color: #5a8164; }
.language-apollo-guidance-computer { background-color: #0b3d91; }
.language-applescript { background-color: #101f1f; }
.language-arc { background-color: #aa2afe; }
.language-asciidoc { background-color: #73a0c5; }
.language-aspdotnet { background-color: #9400ff; }
.language-aspectj { background-color: #a957b0; }
.language-assembly { background-color: #6e4c13; }
.language-astro { background-color: #ff5a03; }
.language-asymptote { background-color: #f00; }
.language-ats { background-color: #1ac620; }
.language-augeas { background-color: #9cc134; }
.language-autohotkey { background-color: #6594b9; }
.language-autoit { background-color: #1c3552; }
.language-avro-idl { background-color: #0040ff; }
.language-awk { background-color: #c30e9b; }
.language-b-formal-method { background-color: #8aa8c5; }
.language-b4x { background-color: #00e4ff; }
.language-ballerina { background-color: #ff5000; }
.language-baml { background-color: #a855f7; }
.language-basic { background-color: #f00; }
.language-batchfile { background-color: #c1f12e; }
.language-beef { background-color: #a52f4e; }
.language-berry { background-color: #15a13c; }
.language-bibtex { background-color: #789; }
.language-bicep { background-color: #519aba; }
.language-bikeshed { background-color: #5562ac; }
.language-bison { background-color: #6a463f; }
.language-bitbake { background-color: #00bce4; }
.language-blade { background-color: #f7523f; }
.language-blitzbasic { background-color: #00ffae; }
.language-blitzmax { background-color: #cd6400; }
.language-blueprint { background-color: #3584e4; }
.language-bluespec { background-color: #12223c; }
.language-bluespec-bh { background-color: #12223c; }
.language-boo { background-color: #d4bec1; }
.language-boogie { background-color: #c80fa0; }
.language-bqn { background-color: #2b7067; }
.language-brainfuck { background-color: #2f2530; }
.language-brighterscript { background-color: #6ab; }
.language-brightscript { background-color: #662d91; }
.language-browserslist { background-color: #ffd539; }
.language-bru { background-color: #f4aa41; }
.language-buildstream { background-color: #006bff; }
.language-c { background-color: #555; }
.language-csharp { background-color: #7355dd; }
.language-cpp { background-color: #f34b7d; }
.language-c3 { background-color: #2563eb; }
.language-cabal-config { background-color: #483465; }
.language-caddyfile { background-color: #22b638; }
.language-cadence { background-color: #00ef8b; }
.language-cairo { background-color: #ff4a48; }
.language-cairo-zero { background-color: #ff4a48; }
.language-cameligo { background-color: #3be133; }
.language-cangjie { background-color: #00868b; }
.language-cap-cds { background-color: #0092d1; }
.language-capn-proto { background-color: #c42727; }
.language-carbon { background-color: #222; }
.language-ceylon { background-color: #dfa535; }
.language-chapel { background-color: #8dc63f; }
.language-chuck { background-color: #3f8000; }
.language-circom { background-color: #707575; }
.language-cirru { background-color: #ccf; }
.language-clarion { background-color: #db901e; }
.language-clarity { background-color: #5546ff; }
.language-classic-asp { background-color: #6a40fd; }
.language-clean { background-color: #3f85af; }
.language-click { background-color: #e4e6f3; }
.language-clips { background-color: #00a300; }
.language-clojure { background-color: #db5855; }
.language-closure-templates { background-color: #0d948f; }
.language-cloud-firestore-security-rules { background-color: #ffa000; }
.language-clue { background-color: #0009b5; }
.language-cmake { background-color: #da3434; }
.language-codeql { background-color: #140f46; }
.language-coffeescript { background-color: #244776; }
.language-coldfusion { background-color: #ed2cd6; }
.language-coldfusion-cfc { background-color: #ed2cd6; }
.language-collada { background-color: #f1a42b; }
.language-common-lisp { background-color: #3fb68b; }
.language-common-workflow-language { background-color: #b5314c; }
.language-component-pascal { background-color: #b0ce4e; }
.language-cooklang { background-color: #e15a29; }
.language-cql { background-color: #006091; }
.language-crontab { background-color: #ead7ac; }
.language-crystal { background-color: #000100; }
.language-cson { background-color: #244776; }
.language-csound { background-color: #1a1a1a; }
.language-csound-document { background-color: #1a1a1a; }
.language-csound-score { background-color: #1a1a1a; }
.language-css { background-color: #639; }
.language-csv { background-color: #237346; }
.language-cuda { background-color: #3a4e3a; }
.language-cue { background-color: #5886e1; }
.language-curry { background-color: #531242; }
.language-cweb { background-color: #00007a; }
.language-cylc { background-color: #00b3fd; }
.language-cypher { background-color: #34c0eb; }
.language-cython { background-color: #fedf5b; }
.language-d { background-color: #ba595e; }
.language-d2 { background-color: #526ee8; }
.language-dafny { background-color: #ffec25; }
.language-darcs-patch { background-color: #8eff23; }
.language-dart { background-color: #00b4ab; }
.language-daslang { background-color: #d3d3d3; }
.language-dataweave { background-color: #003a52; }
.language-debian-package-control-file { background-color: #d70751; }
.language-denizenscript { background-color: #fbee96; }
.language-dhall { background-color: #dfafff; }
.language-directx-3d-file { background-color: #aace60; }
.language-dm { background-color: #447265; }
.language-dockerfile { background-color: #384d54; }
.language-dogescript { background-color: #cca760; }
.language-dotenv { background-color: #e5d559; }
.language-dune { background-color: #89421e; }
.language-dylan { background-color: #6c616e; }
.language-e { background-color: #ccce35; }
.language-earthly { background-color: #2af0ff; }
.language-easybuild { background-color: #069406; }
.language-ec { background-color: #913960; }
.language-ecere-projects { background-color: #913960; }
.language-ecl { background-color: #8a1267; }
.language-eclipse { background-color: #001d9d; }
.language-ecmarkup { background-color: #eb8131; }
.language-edge { background-color: #0dffe0; }
.language-edgeql { background-color: #31a7ff; }
.language-editorconfig { background-color: #fff1f2; }
.language-eiffel { background-color: #4d6977; }
.language-ejs { background-color: #a91e50; }
.language-elixir { background-color: #6e4a7e; }
.language-elm { background-color: #60b5cc; }
.language-elvish { background-color: #5b5; }
.language-elvish-transcript { background-color: #5b5; }
.language-emacs-lisp { background-color: #c065db; }
.language-emberscript { background-color: #fff4f3; }
.language-eq { background-color: #a78649; }
.language-erlang { background-color: #b83998; }
.language-euphoria { background-color: #ff790b; }
.language-fsharp { background-color: #b845fc; }
.language-fstar { background-color: #572e30; }
.language-factor { background-color: #636746; }
.language-fancy { background-color: #7b9db4; }
.language-fantom { background-color: #14253c; }
.language-faust { background-color: #c37240; }
.language-fennel { background-color: #fff3d7; }
.language-figlet-font { background-color: #fdb; }
.language-filebench-wml { background-color: #f6b900; }
.language-firrtl { background-color: #2f632f; }
.language-fish { background-color: #4aae47; }
.language-flatbuffers { background-color: #ed284a; }
.language-flix { background-color: #d44a45; }
.language-fluent { background-color: #fc3; }
.language-flux { background-color: #8cf; }
.language-forth { background-color: #341708; }
.language-fortran { background-color: #4d41b1; }
.language-fortran-free-form { background-color: #4d41b1; }
.language-freebasic { background-color: #141ac9; }
.language-freemarker { background-color: #0050b2; }
.language-frege { background-color: #00cafe; }
.language-futhark { background-color: #5f021f; }
.language-g-code { background-color: #d08cf2; }
.language-game-maker-language { background-color: #71b417; }
.language-gaml { background-color: #ffc766; }
.language-gams { background-color: #f49a22; }
.language-gap { background-color: #00c; }
.language-gcc-machine-description { background-color: #ffcfab; }
.language-gdscript { background-color: #355570; }
.language-gdshader { background-color: #478cbf; }
.language-gedcom { background-color: #003058; }
.language-gemfiledotlock { background-color: #701516; }
.language-gemini { background-color: #ff6900; }
.language-genero-4gl { background-color: #63408e; }
.language-genero-per { background-color: #d8df39; }
.language-genie { background-color: #fb855d; }
.language-genshi { background-color: #951531; }
.language-gentoo-ebuild { background-color: #9400ff; }
.language-gentoo-eclass { background-color: #9400ff; }
.language-gerber-image { background-color: #d20b00; }
.language-gherkin { background-color: #5b2063; }
.language-git-attributes { background-color: #f44d27; }
.language-git-commit { background-color: #f44d27; }
.language-git-config { background-color: #f44d27; }
.language-git-revision-list { background-color: #f44d27; }
.language-gleam { background-color: #ffaff3; }
.language-glimmer-js { background-color: #f5835f; }
.language-glimmer-ts { background-color: #3178c6; }
.language-glsl { background-color: #5686a5; }
.language-glyph { background-color: #c1ac7f; }
.language-gnuplot { background-color: #f0a9f0; }
.language-go { background-color: #00add8; }
.language-go-checksums { background-color: #00add8; }
.language-go-module { background-color: #00add8; }
.language-go-template { background-color: #00add8; }
.language-go-workspace { background-color: #00add8; }
.language-godot-resource { background-color: #355570; }
.language-golo { background-color: #88562a; }
.language-gosu { background-color: #82937f; }
.language-grace { background-color: #615f8b; }
.language-gradle { background-color: #02303a; }
.language-gradle-kotlin-dsl { background-color: #02303a; }
.language-grammatical-framework { background-color: #f00; }
.language-graphql { background-color: #e10098; }
.language-graphviz-dot { background-color: #2596be; }
.language-groovy { background-color: #4298b8; }
.language-groovy-server-pages { background-color: #4298b8; }
.language-gsc { background-color: #ff6800; }
.language-gtkrc { background-color: #7fe719; }
.language-hack { background-color: #878787; }
.language-haml { background-color: #ece2a9; }
.language-handlebars { background-color: #f7931e; }
.language-haproxy { background-color: #106da9; }
.language-harbour { background-color: #0e60e3; }
.language-hare { background-color: #9d7424; }
.language-haskell { background-color: #5e5086; }
.language-haxe { background-color: #df7900; }
.language-hcl { background-color: #844fba; }
.language-hip { background-color: #4f3a4f; }
.language-hiveql { background-color: #dce200; }
.language-hlsl { background-color: #aace60; }
.language-hocon { background-color: #9ff8ee; }
.language-holyc { background-color: #ffefaf; }
.language-hoon { background-color: #00b171; }
.language-hosts-file { background-color: #308888; }
.language-html { background-color: #e34c26; }
.language-htmlpecr { background-color: #2e1052; }
.language-htmlpeex { background-color: #6e4a7e; }
.language-htmlperb { background-color: #701516; }
.language-htmlpphp { background-color: #4f5d95; }
.language-htmlprazor { background-color: #512be4; }
.language-http { background-color: #005c9c; }
.language-hurl { background-color: #ff0288; }
.language-hxml { background-color: #f68712; }
.language-hy { background-color: #7790b2; }
.language-icalendar { background-color: #ec564c; }
.language-idl { background-color: #a3522f; }
.language-idris { background-color: #b30000; }
.language-ignore-list { background-color: #000; }
.language-igor-pro { background-color: #00c; }
.language-il-assembly { background-color: #512bd4; }
.language-imagej-macro { background-color: #9af; }
.language-imba { background-color: #16cec6; }
.language-ini { background-color: #d1dbe0; }
.language-inno-setup { background-color: #264b99; }
.language-io { background-color: #a9188d; }
.language-ioke { background-color: #078193; }
.language-isabelle { background-color: #fefe00; }
.language-isabelle-root { background-color: #fefe00; }
.language-ispc { background-color: #2d68b1; }
.language-j { background-color: #9eedff; }
.language-jac { background-color: #fc792d; }
.language-jai { background-color: #ab8b4b; }
.language-janet { background-color: #0886a5; }
.language-jar-manifest { background-color: #b07219; }
.language-jasmin { background-color: #d03600; }
.language-java { background-color: #b07219; }
.language-java-properties { background-color: #2a6277; }
.language-java-server-pages { background-color: #2a6277; }
.language-java-template-engine { background-color: #2a6277; }
.language-javascript { background-color: #f1e05a; }
.language-javascriptperb { background-color: #f1e05a; }
.language-jcl { background-color: #d90e09; }
.language-jest-snapshot { background-color: #15c213; }
.language-jetbrains-mps { background-color: #21d789; }
.language-jflex { background-color: #dbca00; }
.language-jinja { background-color: #a52a22; }
.language-jison { background-color: #56b3cb; }
.language-jison-lex { background-color: #56b3cb; }
.language-jolie { background-color: #843179; }
.language-jq { background-color: #c7254e; }
.language-json { background-color: #292929; }
.language-json-with-comments { background-color: #292929; }
.language-json5 { background-color: #267cb9; }
.language-jsoniq { background-color: #40d47e; }
.language-jsonld { background-color: #0c479c; }
.language-jsonnet { background-color: #0064bd; }
.language-julia { background-color: #a270ba; }
.language-julia-repl { background-color: #a270ba; }
.language-jupyter-notebook { background-color: #da5b0b; }
.language-just { background-color: #384d54; }
.language-kaitai-struct { background-color: #773b37; }
.language-kakounescript { background-color: #6f8042; }
.language-kcl { background-color: #7ababf; }
.language-kdl { background-color: #ffb3b3; }
.language-kerboscript { background-color: #41adf0; }
.language-kframework { background-color: #4195c5; }
.language-kicad-layout { background-color: #2f4aab; }
.language-kicad-legacy-layout { background-color: #2f4aab; }
.language-kicad-schematic { background-color: #2f4aab; }
.language-koka { background-color: #215166; }
.language-kolmafia-ash { background-color: #b9d9b9; }
.language-kotlin { background-color: #a97bff; }
.language-krl { background-color: #28430a; }
.language-kvlang { background-color: #1da6e0; }
.language-labview { background-color: #fede06; }
.language-lambdapi { background-color: #8027a3; }
.language-langium { background-color: #2c8c87; }
.language-lark { background-color: #2980b9; }
.language-lasso { background-color: #999; }
.language-latte { background-color: #f2a542; }
.language-leo { background-color: #c4ffc2; }
.language-less { background-color: #1d365d; }
.language-lex { background-color: #dbca00; }
.language-lfe { background-color: #4c3023; }
.language-ligolang { background-color: #0e74ff; }
.language-lilypond { background-color: #9ccc7c; }
.language-liquid { background-color: #67b8de; }
.language-liquidsoap { background-color: #906; }
.language-literate-agda { background-color: #315665; }
.language-literate-coffeescript { background-color: #244776; }
.language-literate-haskell { background-color: #5e5086; }
.language-livecode-script { background-color: #0c5ba5; }
.language-livescript { background-color: #499886; }
.language-llvm { background-color: #185619; }
.language-logtalk { background-color: #295b9a; }
.language-lolcode { background-color: #c90; }
.language-lookml { background-color: #652b81; }
.language-lsl { background-color: #3d9970; }
.language-lua { background-color: #000080; }
.language-luau { background-color: #00a2ff; }
.language-m3u { background-color: #179c7d; }
.language-macaulay2 { background-color: #d8ffff; }
.language-makefile { background-color: #427819; }
.language-mako { background-color: #7e858d; }
.language-markdown { background-color: #083fa1; }
.language-marko { background-color: #42bff2; }
.language-mask { background-color: #f97732; }
.language-mathematical-programming-system { background-color: #0530ad; }
.language-matlab { background-color: #e16737; }
.language-max { background-color: #c4a79c; }
.language-maxscript { background-color: #00a6a6; }
.language-mcfunction { background-color: #e22837; }
.language-mdsvex { background-color: #5f9ea0; }
.language-mdx { background-color: #fcb32c; }
.language-mercury { background-color: #ff2b2b; }
.language-mermaid { background-color: #ff3670; }
.language-meson { background-color: #007800; }
.language-metal { background-color: #8f14e9; }
.language-metta { background-color: #6a5acd; }
.language-miniyaml { background-color: #f11; }
.language-minizinc { background-color: #06a9e6; }
.language-mint { background-color: #02b046; }
.language-mirah { background-color: #c7a938; }
.language-mirc-script { background-color: #3d57c3; }
.language-mlir { background-color: #5ec8db; }
.language-modelica { background-color: #de1d31; }
.language-modula-2 { background-color: #10253f; }
.language-modula-3 { background-color: #238; }
.language-mojo { background-color: #ff4c1f; }
.language-monkey-c { background-color: #8d6747; }
.language-moonbit { background-color: #b92381; }
.language-moonscript { background-color: #ff4585; }
.language-motoko { background-color: #fbb03b; }
.language-motorola-68k-assembly { background-color: #005daa; }
.language-move { background-color: #4a137a; }
.language-mql4 { background-color: #62a8d6; }
.language-mql5 { background-color: #4a76b8; }
.language-mtml { background-color: #b7e1f4; }
.language-mupad { background-color: #244963; }
.language-mustache { background-color: #724b3b; }
.language-nanorc { background-color: #2d004d; }
.language-nasal { background-color: #1d2c4e; }
.language-ncl { background-color: #28431f; }
.language-nearley { background-color: #900; }
.language-nemerle { background-color: #3d3c6e; }
.language-nesc { background-color: #94b0c7; }
.language-netlinx { background-color: #0aa0ff; }
.language-netlinxperb { background-color: #747faa; }
.language-netlogo { background-color: #ff6375; }
.language-newlisp { background-color: #87aed7; }
.language-nextflow { background-color: #3ac486; }
.language-nginx { background-color: #009639; }
.language-nickel { background-color: #e0c3fc; }
.language-nim { background-color: #ffc200; }
.language-nit { background-color: #009917; }
.language-nix { background-color: #7e7eff; }
.language-nmodl { background-color: #00356b; }
.language-noir { background-color: #2f1f49; }
.language-npm-config { background-color: #cb3837; }
.language-nu { background-color: #c9df40; }
.language-numpy { background-color: #9c8af9; }
.language-nunjucks { background-color: #3d8137; }
.language-nushell { background-color: #4e9906; }
.language-nwscript { background-color: #111522; }
.language-oasv2-json { background-color: #85ea2d; }
.language-oasv2-yaml { background-color: #85ea2d; }
.language-oasv3-json { background-color: #85ea2d; }
.language-oasv3-yaml { background-color: #85ea2d; }
.language-objective-c { background-color: #438eff; }
.language-objective-cpp { background-color: #6866fb; }
.language-objective-j { background-color: #ff0c5a; }
.language-objectscript { background-color: #424893; }
.language-ocaml { background-color: #ef7a08; }
.language-odin { background-color: #60affe; }
.language-omgrofl { background-color: #cabbff; }
.language-omnetpp-msg { background-color: #a0e0a0; }
.language-omnetpp-ned { background-color: #08607c; }
.language-ooc { background-color: #b0b77e; }
.language-opal { background-color: #f7ede0; }
.language-open-policy-agent { background-color: #7d9199; }
.language-openapi-specification-v2 { background-color: #85ea2d; }
.language-openapi-specification-v3 { background-color: #85ea2d; }
.language-opencl { background-color: #ed2e2d; }
.language-openedge-abl { background-color: #5ce600; }
.language-openqasm { background-color: #aa70ff; }
.language-openscad { background-color: #e5cd45; }
.language-option-list { background-color: #476732; }
.language-org { background-color: #7a9; }
.language-overpassql { background-color: #cce2aa; }
.language-overpy { background-color: #78b355; }
.language-oxygene { background-color: #cdd0e3; }
.language-oz { background-color: #fab738; }
.language-p4 { background-color: #7055b5; }
.language-pact { background-color: #f7a8b8; }
.language-pan { background-color: #c00; }
.language-papyrus { background-color: #60c; }
.language-parrot { background-color: #f3ca0a; }
.language-pascal { background-color: #e3f171; }
.language-pawn { background-color: #dbb284; }
.language-pddl { background-color: #0d00ff; }
.language-pegdotjs { background-color: #234d6b; }
.language-pep8 { background-color: #c76f5b; }
.language-perl { background-color: #0298c3; }
.language-php { background-color: #4f5d95; }
.language-picolisp { background-color: #6067af; }
.language-piglatin { background-color: #fcd7de; }
.language-pike { background-color: #005390; }
.language-pip-requirements { background-color: #ffd343; }
.language-pkg-config { background-color: #2b5e82; }
.language-pkl { background-color: #6b9543; }
.language-plantuml { background-color: #fbbd16; }
.language-plpgsql { background-color: #336790; }
.language-plsql { background-color: #dad8d8; }
.language-pogoscript { background-color: #d80074; }
.language-polar { background-color: #ae81ff; }
.language-portugol { background-color: #f8bd00; }
.language-postcss { background-color: #dc3a0c; }
.language-postscript { background-color: #da291c; }
.language-pov-ray-sdl { background-color: #6bac65; }
.language-power-query { background-color: #d38e0d; }
.language-powerbuilder { background-color: #8f0f8d; }
.language-powershell { background-color: #012456; }
.language-praat { background-color: #c8506d; }
.language-prisma { background-color: #0c344b; }
.language-prostarc { background-color: #bb8368; }
.language-processing { background-color: #0096d8; }
.language-procfile { background-color: #3b2f63; }
.language-prolog { background-color: #74283c; }
.language-promela { background-color: #de0000; }
.language-propeller-spin { background-color: #7fa2a7; }
.language-pug { background-color: #a86454; }
.language-puppet { background-color: #302b6d; }
.language-purebasic { background-color: #5a6986; }
.language-purescript { background-color: #1d222d; }
.language-pyret { background-color: #ee1e10; }
.language-python { background-color: #3572a5; }
.language-python-console { background-color: #3572a5; }
.language-python-traceback { background-color: #3572a5; }
.language-q { background-color: #0040cd; }
.language-qsharp { background-color: #fed659; }
.language-qml { background-color: #44a51c; }
.language-qt-script { background-color: #00b841; }
.language-quake { background-color: #823; }
.language-quakec { background-color: #975777; }
.language-quickbasic { background-color: #008080; }
.language-quint { background-color: #9d6ce5; }
.language-r { background-color: #198ce7; }
.language-racket { background-color: #3c5caa; }
.language-ragel { background-color: #9d5200; }
.language-raku { background-color: #0000fb; }
.language-raml { background-color: #77d9fb; }
.language-rascal { background-color: #fffaa0; }
.language-rascript { background-color: #2c97fa; }
.language-rbs { background-color: #701516; }
.language-rdoc { background-color: #701516; }
.language-reason { background-color: #ff5847; }
.language-reasonligo { background-color: #ff5847; }
.language-rebol { background-color: #358a5b; }
.language-record-jar { background-color: #0673ba; }
.language-red { background-color: #f50000; }
.language-redscript { background-color: #f44336; }
.language-regular-expression { background-color: #009a00; }
.language-renpy { background-color: #ff7f7f; }
.language-rescript { background-color: #ed5051; }
.language-restructuredtext { background-color: #141414; }
.language-rexx { background-color: #d90e09; }
.language-rez { background-color: #ffdab3; }
.language-ring { background-color: #2d54cb; }
.language-riot { background-color: #a71e49; }
.language-rmarkdown { background-color: #198ce7; }
.language-robotframework { background-color: #00c0b5; }
.language-roc { background-color: #7c38f5; }
.language-rocq-prover { background-color: #d0b68c; }
.language-roff { background-color: #ecdebe; }
.language-roff-manpage { background-color: #ecdebe; }
.language-ron { background-color: #a62c00; }
.language-ros-interface { background-color: #22314e; }
.language-rouge { background-color: #c08; }
.language-routeros-script { background-color: #de3941; }
.language-rpgle { background-color: #2bde21; }
.language-ruby { background-color: #701516; }
.language-runoff { background-color: #665a4e; }
.language-rust { background-color: #dea584; }
.language-sail { background-color: #259dd5; }
.language-saltstack { background-color: #646464; }
.language-sas { background-color: #b34936; }
.language-sass { background-color: #a53b70; }
.language-scala { background-color: #c22d40; }
.language-scaml { background-color: #bd181a; }
.language-scenic { background-color: #fdc700; }
.language-scheme { background-color: #1e4aec; }
.language-scilab { background-color: #ca0f21; }
.language-scss { background-color: #c6538c; }
.language-sed { background-color: #64b970; }
.language-self { background-color: #0579aa; }
.language-shaderlab { background-color: #222c37; }
.language-shell { background-color: #89e051; }
.language-shellcheck-config { background-color: #cecfcb; }
.language-shen { background-color: #120f14; }
.language-simple-file-verification { background-color: #c9bfed; }
.language-singularity { background-color: #64e6ad; }
.language-slang { background-color: #1fbec9; }
.language-slash { background-color: #007eff; }
.language-slice { background-color: #003fa2; }
.language-slim { background-color: #2b2b2b; }
.language-slint { background-color: #2379f4; }
.language-smalltalk { background-color: #596706; }
.language-smarty { background-color: #f0c040; }
.language-smithy { background-color: #c44536; }
.language-smpl { background-color: #c94949; }
.language-snakemake { background-color: #419179; }
.language-solidity { background-color: #aa6746; }
.language-sourcepawn { background-color: #f69e1d; }
.language-sparql { background-color: #0c4597; }
.language-spicedb-schema { background-color: #a5318a; }
.language-sqf { background-color: #3f3f3f; }
.language-sql { background-color: #e38c00; }
.language-sqlpl { background-color: #e38c00; }
.language-squirrel { background-color: #800000; }
.language-srecode-template { background-color: #348a34; }
.language-stan { background-color: #b2011d; }
.language-standard-ml { background-color: #dc566d; }
.language-starlark { background-color: #76d275; }
.language-stata { background-color: #1a5f91; }
.language-stl { background-color: #373b5e; }
.language-stringtemplate { background-color: #3fb34f; }
.language-stylus { background-color: #ff6347; }
.language-subrip-text { background-color: #9e0101; }
.language-sugarss { background-color: #2fcc9f; }
.language-supercollider { background-color: #46390b; }
.language-surrealql { background-color: #ff00a0; }
.language-survex-data { background-color: #fc9; }
.language-svelte { background-color: #ff3e00; }
.language-svg { background-color: #f90; }
.language-sway { background-color: #00f58c; }
.language-sweave { background-color: #198ce7; }
.language-swift { background-color: #f05138; }
.language-systemverilog { background-color: #dae1c2; }
.language-tact { background-color: #48b5ff; }
.language-talon { background-color: #333; }
.language-tcl { background-color: #e4cc98; }
.language-teal { background-color: #00b1bc; }
.language-templ { background-color: #66d0dd; }
.language-terra { background-color: #00004c; }
.language-terraform-template { background-color: #7b42bb; }
.language-tex { background-color: #3d6117; }
.language-textgrid { background-color: #c8506d; }
.language-textile { background-color: #ffe7ac; }
.language-textmate-properties { background-color: #df66e4; }
.language-thrift { background-color: #d12127; }
.language-ti-program { background-color: #a0aa87; }
.language-tl-verilog { background-color: #c40023; }
.language-tla { background-color: #4b0079; }
.language-tmdl { background-color: #f0c913; }
.language-toit { background-color: #c2c9fb; }
.language-toml { background-color: #9c4221; }
.language-tor-config { background-color: #59316b; }
.language-tree-sitter-query { background-color: #8ea64c; }
.language-tsql { background-color: #e38c00; }
.language-tsv { background-color: #237346; }
.language-tsx { background-color: #3178c6; }
.language-turing { background-color: #cf142b; }
.language-twig { background-color: #c1d026; }
.language-txl { background-color: #0178b8; }
.language-typescript { background-color: #3178c6; }
.language-typespec { background-color: #4a3665; }
.language-typst { background-color: #239dad; }
.language-unified-parallel-c { background-color: #4e3617; }
.language-unity3d-asset { background-color: #222c37; }
.language-uno { background-color: #93c; }
.language-unrealscript { background-color: #a54c4d; }
.language-untyped-plutus-core { background-color: #36adbd; }
.language-urweb { background-color: #cce; }
.language-v { background-color: #4f87c4; }
.language-vala { background-color: #a56de2; }
.language-valve-data-format { background-color: #f26025; }
.language-vba { background-color: #867db1; }
.language-vbscript { background-color: #15dcdc; }
.language-vcard { background-color: #ee2647; }
.language-vcl { background-color: #148aa8; }
.language-velocity-template-language { background-color: #507cff; }
.language-vento { background-color: #ff0080; }
.language-verilog { background-color: #b2b7f8; }
.language-vhdl { background-color: #adb2cb; }
.language-vim-help-file { background-color: #199f4b; }
.language-vim-script { background-color: #199f4b; }
.language-vim-snippet { background-color: #199f4b; }
.language-visual-basic-dotnet { background-color: #945db7; }
.language-visual-basic-6dot0 { background-color: #2c6353; }
.language-volt { background-color: #1f1f1f; }
.language-vue { background-color: #41b883; }
.language-vyper { background-color: #9f4cf2; }
.language-wdl { background-color: #42f1f4; }
.language-web-ontology-language { background-color: #5b70bd; }
.language-webassembly { background-color: #04133b; }
.language-webassembly-interface-type { background-color: #6250e7; }
.language-wgsl { background-color: #1a5e9a; }
.language-whiley { background-color: #d5c397; }
.language-wikitext { background-color: #fc5757; }
.language-windows-registry-entries { background-color: #52d5ff; }
.language-wisp { background-color: #7582d1; }
.language-witcher-script { background-color: #f00; }
.language-wolfram-language { background-color: #d10; }
.language-wollok { background-color: #a23738; }
.language-world-of-warcraft-addon-data { background-color: #f7e43f; }
.language-wren { background-color: #383838; }
.language-x10 { background-color: #4b6bef; }
.language-xbase { background-color: #403a40; }
.language-xc { background-color: #99da07; }
.language-xmake { background-color: #22a079; }
.language-xml { background-color: #0060ac; }
.language-xml-property-list { background-color: #0060ac; }
.language-xojo { background-color: #81bd41; }
.language-xonsh { background-color: #285eef; }
.language-xquery { background-color: #5232e7; }
.language-xslt { background-color: #eb8ceb; }
.language-xtend { background-color: #24255d; }
.language-yacc { background-color: #4b6c4b; }
.language-yaml { background-color: #cb171e; }
.language-yara { background-color: #200; }
.language-yasnippet { background-color: #32ab90; }
.language-yul { background-color: #794932; }
.language-zap { background-color: #0d665e; }
.language-zenscript { background-color: #00bcd1; }
.language-zephir { background-color: #118f9e; }
.language-zig { background-color: #ec915c; }
.language-zil { background-color: #dc75e5; }
.language-zimpl { background-color: #d67711; }
.language-zmodel { background-color: #ff7100; }
